/* generici */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


/* colori testi  */
header > nav > .container-fluid > .left > ul > li > a,
header > nav > .container-fluid > .right > ul > li:not(:last-child) > a,
header > section > .container > .row > .col-md-5 > .scheda,
main h2,
main > .info > .container > .row > .col-sm-8 > .col-sm-6 > h4,
main > .features > .container > .row > .col-sm-4 > h4,
main > .slider > .slider-box > .box > strong,
main > .slider > .slider-box > .box > p:last-of-type {
  color: #031b4e;
}

header > section,
header > section > .container > .row > .col-md-5 > .scheda > form > input:nth-child(4),
main > .speedtest > h2,
main > .speedtest > .container > .row > .col-lg-6 > ul > li > strong,
main > .speedtest > .container > .row > .col-lg-6 > ul > li > p,
main > .get > h2,
footer > .container > .row > .col-lg-2 > ul h4 {
  color: white;
}

header > nav > .container-fluid > .right > ul > li:last-child > a ,
header > section > .container > .row > .col-md-5 > .scheda > p > a,
main > .society > a,
main > .features > .container > .row > .col-sm-4 > a,
main > .slider > .slider-box > .box > a,
main > .get > a   {
  color: #0069ff;
}

header > nav > .container-fluid > .left > ul > li > a > span,
header > section > .container > .row > .col-md-5 > .scheda > form > a,
main > .society > h3,
main > .info > .container > p,
main > .info > .container > .row > .col-sm-8 > .col-sm-6 > p,
main > .slider > p,
main > .slider > .slider-box > .fas,
main > .slider > .slider-box > p,
main > .features > .container > .row > .col-sm-4 > p,
main > .slider > .slider-box > .box > p:first-of-type,
footer > .container > .row > .col-lg-4 > p:nth-child(3) {
  color: #5C6A88;
}

main > .info > .container > .row > .col-sm-4 > ul,
footer,
footer > .container > .row > .col-lg-4 > ul a,
footer > .container > .row > .col-lg-2 > ul > li > a {
  color: #8D97AB;
}
/* /colori testi  */



main h2 {
  padding-top: 70px;
  font-size: 2.5em;
  text-align: center;
}
/* /generici */

/* specifici */

/* header */
header > nav {
  background-color: white;
  box-shadow: 0 0 5px 2px grey;
}
header > nav > .container-fluid {
  padding: 0 30px;
}


header > nav > .container-fluid > .left {
  float: left;
}
header > nav > .container-fluid > .left > img {
  height: 30px;
  margin: 20px 0;
  vertical-align:middle;
}
header > nav > .container-fluid > .left > ul {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 40px;
  padding-top: 5px;
  vertical-align: middle;
}


header > nav > .container-fluid > .right {
  float: right;
}
header > nav > .container-fluid > .right > ul {
  margin-top: 28px;
}
header > nav > .container-fluid > .right > ul > li:last-child > a {
  border: 1px solid #006AFF;
  transition: all 0.4s;
  padding: 8px 20px;
  border-radius: 5px;
}
header > nav > .container-fluid > .right > a:nth-child(2) {
  margin-top: 30px;
  line-height: 1.5px;
}



header > section {
  margin-top: 70px;
  min-height: 750px;
  background-image: url("img/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header > section > .container > .row > .col-md-7 {
  font-size: 25px;
}
header > section > .container > .row > .col-md-7 > h1 {
  margin-top: 250px;
  font-size: 2.5em;
}
header > section > .container > .row > .col-md-7 > p {
  font-weight: 100;
}


header > section > .container > .row > .col-md-5 > .scheda {
  width: 400px;
  background-color: white;
  min-height: 490px;
  margin: 150px auto 0 auto;
  border-radius: 5px;
  text-align: center;
}
header > section > .container > .row > .col-md-5 > .scheda > p {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

header > section > .container > .row > .col-md-5 > .scheda > form {
  margin-top: 50px;
  margin-bottom: 10px;
}
header > section > .container > .row > .col-md-5 > .scheda > form > input:not(:nth-child(4)) {
  display: list-item;
  width: 80%;
  height: 50px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #E5E8ED;
  border-radius: 3px;
}
header > section > .container > .row > .col-md-5 > .scheda > form > input:nth-child(4) {
  width: 80%;
  padding: 20px 10px;
  font-weight: 500;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  background-color: #006aff;
  transition: background 0.4s;
}
header > section > .container > .row > .col-md-5 > .scheda > form > a {
  display: block;
  width: 80%;
  padding: 20px 10px;
  font-weight: 500;
  font-size: 1.1em;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 1px grey;
  margin: 10px auto;
}
header > section > .container > .row > .col-md-5 > .scheda > form > a > img {
  height: 20px;
  float: left;
  margin-top: 3px;
}

header > section > .container > .row > .col-md-5 > .scheda > p:last-child {
  font-size: 14px;
}
header > section > .container > .row > .col-md-5 > .scheda > a:first-of-type {
  padding: 15px 50px;
}
header > section > .container > .row > .col-md-5 > .scheda > a:last-of-type {
  padding: 15px 15px;
}
/* header */


/* main */
main > .society {
  background-color: #F3F5F9;
  text-align: center;
  padding-bottom: 50px;
}
main > .society > h3 {
  margin: 0;
  padding-top: 40px;
  font-size: 17px;
  margin-bottom: 20px;
}
main > .society > .container {
  margin-bottom: 20px;
}

main > .society > .container > .row > .col-lg-2{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
main > .society > .container > .row > .col-lg-2:nth-child(1) {
  background-image: url("img/society/docker.svg");
  height: 80px;
}
main > .society > .container > .row > .col-lg-2:nth-child(2) {
  background-image: url("img/society/gitlab.svg");
  height: 80px;
}
main > .society > .container > .row > .col-lg-2:nth-child(3) {
  background-image: url("img/society/slack.svg");
  height: 80px;
}
main > .society > .container > .row > .col-lg-2:nth-child(4) {
  background-image: url("img/society/hashicorp.svg");
  height: 80px;
}
main > .society > .container > .row > .col-lg-2:nth-child(5) {
  background-image: url("img/society/wework.svg");
  height: 80px;
}
main > .society > .container > .row > .col-lg-2:nth-child(6) {
  background-image: url("img/society/splunk.svg");
  height: 80px;
}

main > .info > .container > p {
  text-align: center;
}

main > .info > .container > .row > .col-sm-4 > ul {
  list-style: none;
  border-left: 2px solid #CCCCCC;
}
main > .info > .container > .row > .col-sm-4 > ul > li:first-child {
  padding-top: 20px;
}
main > .info > .container > .row > .col-sm-4 > ul > li {
  margin-top: 20px;
}
main > .info > .container > .row > .col-sm-4 > ul > li:last-child {
  padding-bottom: 20px;
}
main > .info > .container > .row > .col-sm-8 > .col-sm-6 {
  height: 200px;
  vertical-align: middle;
  margin-top: 30px;
}

main > .slider {
  text-align: center;
  background-color: #F3F5F9;
  padding-bottom: 50px;
}
main > .slider > .slider-box {
  margin-top: 50px;
}
main > .slider > .slider-box > img {
  height: 450px;
  border-radius: 5px;
  vertical-align: middle;
}
main > .slider > .slider-box > .fas {
  font-size: 60px;
  margin: auto 20px;
  vertical-align: middle;
}
main > .slider > .slider-box > p {
  margin: 20px auto;
}
main > .slider > .slider-box > ul > li:first-of-type {
  background-color: #0069ff;
}
main > .slider > .slider-box > ul > li {
  width: 10px;
  height: 12px;
  border: 1px solid #0069ff;
  border-radius: 50%;
}


main > .features {
  padding-bottom: 50px;
}
main > .features > .container > .row > .col-sm-4 {
  margin-top: 40px;
}


main > .speedtest {
  background: linear-gradient(#0047C5, #001E99);
  padding-bottom: 50px;
}
main > .speedtest > .container > .row > .col-lg-6 > ul {
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}
main > .speedtest > .container > .row > .col-lg-6 > ul > li:not(:last-child) {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
main > .speedtest > .container > .row > .col-lg-6 > ul > li > strong {
  margin-left: 15px;
}
main > .speedtest > .container > .row > .col-lg-6 > ul > li > p {
  display: inline;
  margin-left: 30px;
  font-size: 0.8em;
}
main > .speedtest > .container > .row > .col-lg-6 > ul > li > a {
  float: right;
  color: #38D5D1;
  margin-right: 15px;
}



main > .slider > .slider-box > .box {
  background-color: white;
  display: inline-block;
  border-radius: 5px;
  width: 620px;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 60px;
  margin-bottom: 20px;
}
main > .slider > .slider-box > .box > img {
  padding-top: 50px;
  margin-bottom: 30px;
}
main > .slider > .slider-box > .box > p:first-of-type {
  font-size: 1.5em;
}



main > .get {
  background: linear-gradient(#0047C5, #001E99);
  text-align: center;
  padding-bottom: 65px;
}
main > .get > h2 {
  margin-bottom: 40px;
}
main > .get > a {
  background-color: white;
  padding: 15px 40px;
  border-radius: 5px;
  transition: background 0.4s;
}



footer {
  background-color: #031C4E;
}
footer > .container > .row > .col-lg-4 > img {
  margin-top: 60px;
  margin-bottom: 5px;
}
footer > .container > .row > .col-lg-4 > p:nth-child(2) {
  margin-bottom: 0;
}
footer > .container > .row > .col-lg-4 > ul {
  font-size: 25px;
}
footer > .container > .row > .col-lg-2 > ul {
  list-style: none;
  margin-top: 80px;
}
footer > .container > .row > .col-lg-2 > ul > li {
  margin-top: 10px;
}
/* /main */

/* /specifici */

/* ipad pro */
@media screen and (max-width: 1043px) and (min-width: 768px) {
  header > nav > .container-fluid > .left > ul,
  header > nav > .container-fluid > .right > ul {
    display: none;
  }

  header > section {
    padding-bottom: 100px;
  }

  header > section > .container > .row > .col-md-5 > .scheda {
    width: 400px;
  }

  main > .speedtest > .container > .row > .col-lg-6:not(:last-child) > ul {
    margin-bottom: 40px;
  }
}
/* /ipad pro */

/* smartphone */
@media screen and (max-width: 767px) {
  header > nav > .container-fluid > .left > ul,
  header > nav > .container-fluid > .right > ul {
    display: none;
  }

  header > section {
    padding-bottom: 100px;
  }

  header > section > .container > .row > .col-md-5 > .scheda {
    width: 100%;
  }

  header > section > .container > .row > .col-md-5 > .scheda > a:first-of-type {
    padding: 15px 40px;
  }

  main > .slider > .slider-box > img {
    height: 200px;
  }

  main > .speedtest > .container > .row > .col-lg-6:not(:last-child) > ul {
    margin-bottom: 40px;
  }

  main > .slider > .slider-box > .box {
    width: 300px;
  }
}
/* smartphone */

/* animazioni */
a:hover {
  text-decoration: none;
}

header > nav > .container-fluid > .left > ul > li > a:hover,
header > nav > .container-fluid > .right > ul > li:not(:last-child) > a:hover  {
  color: #0069ff;
}
header > nav > .container-fluid > .right > ul > li:last-child > a:hover {
  background-color: #0069ff;
  color: white;
}

header > section > .container > .row > .col-md-5 > .scheda > form > input:last-child:hover {
  background-color: #1633FF;
}
header > section > .container > .row > .col-md-5 > .scheda > a:hover {
  border: 1px solid black;
}
header > section > .container > .row > .col-md-5 > .scheda > a:hover > span {
  color: black;
}
header > section > .container > .row > .col-md-5 > p > a:hover {
  border-bottom: 1px dotted white;
}

main > .society > a:hover,
main > .features > .container > .row > .col-sm-4 > a:hover,
main > .speedtest > .container > .row > .col-lg-6 > ul > li > a:hover,
main > .slider > .slider-box > .box > a:hover {
  color: #1633FF;
}

main > .get > a:hover {
  background-color: #CFD4E4;
}

footer > .container > .row > .col-lg-4 > ul > li > a:hover,
footer > .container > .row > .col-lg-2 > ul > li > a:hover {
  color: white;
}

/* /animazioni */
